<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] - Codr</title>
</head>
<body>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet"
          href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.16.2/build/styles/default.min.css">
    <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.16.2/build/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
