<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] - Codr</title>
</head>
<body>
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
