.content {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bold {
    font-weight: bold;
}

.italics {
    font-style: italic;
}

.strikethrough {
    text-decoration: line-through;
}

.underlined {
    text-decoration: underline;
}

.inline-code {
    display: block;
    font-family: monospace;
    /*white-space: pre;*/
    /*margin: 1em 0;*/
}

.spoiler {

}

.post {
    width: 50vw;
    height: auto;
    word-wrap: normal;
} 

.post-image {
    max-width: 100%;
    height: auto;
}

#topbar {
    width: 100vw;
    height: 7.5vh;
    position: fixed;
    padding: 0;
    margin: 0;
    background-color: dimgrey;
    top: 0;
    left: 0;
}

#title {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10vh;
    width: 25vw;
    margin: auto;
    font-size: 5vh;
    text-align: center;
}

#login-box {
    height: 7.5vh;
    width: 10vw;
    padding: 0;
    margin: 0;
    top: 0;
    left: 90vw;
    position: absolute;
    color: white;
}

#register-box {
    height: 7.5vh;
    width: 10vw;
    padding: 0;
    margin: 0;
    top: 0;
    left: 80vw;
    position: absolute;
    color: white;
}

#login-box:hover {
    background-color: #333;
}

#register-box:hover {
    background-color: #333;
}

#profile-picture {
    height: 100px;
    width: 100px;

}