
@{
    ViewData["Title"] = "Codr";
}

<div id="title" class="content">
    <h1>Codr</h1>
</div>

<header>
    <div id="topbar" class="content">
        <a href="/Login">
            <div id="login-box">Login</div>
        </a>
        <a href="/Register">
            <div id="register-box">Register</div>
        </a>
    </div>
</header>