<div id="topbar" class="content">
    <a href="/App/Profile">
        <div id="login-topbar-box">Profile</div>
    </a>
    <a href="/App/Friends">
        <div id="register-topbar-box">Friends</div>
    </a>
    <a href="/App/Profile/NewPost">
        <div id="new-post-topbar-box">New Post</div>
    </a>    
    <a href="/App/Search">
        <div id="search-topbar-box">Search</div>
    </a>    
    <a href="/App/Logout">
        <div id="logout-topbar-box">Log Out</div>
    </a>    
    <a href="/App">
        <div id="home-topbar-box">Home</div>
    </a>
</div>