@using Codr.Models;
@using Codr.Data;
@model User

@{
    ViewData["Title"] = "Friends";
    var page = (int)ViewData["Page"];
    using var session = new UserProvider(DocumentStoreHolder.Store.OpenSession());
    var friends = session.GetUsers(Model.Friends.Skip(10 * page).Take(10));
}

<h1 class="content">Friends</h1>


@foreach (var friend in friends) {
    @if (friend.Value is { } f) {
        await Html.RenderPartialAsync("~/Views/_UserEntry.cshtml");
    }
}