@using Codr.Models
@model User
@{
    ViewData["Title"] = "Index";
}

<img src="@(Model.ProfilePicture ?? "/default-profile.png")" class="profile-picture"/>

<p class="content">Hello @Model.FullName</p>