@using Codr.Models;
@using Codr.Models.Posts;
@using Codr.Data;

@model User
@{
    ViewData["Title"] = "Profile";
    using var session = new UserProvider(DocumentStoreHolder.Store.OpenSession());
    var LoggedIn = session.GetUser((string)ViewData["LoggedIn"]);

}

<div class="content">
    @if (Model is { } u) {
        <div id="profile-sidebar">
            <h1>@u.FullName</h1>

        </div>
        <div id="profile-posts">
            @foreach (var postId in u.Posts) {
                var post = session.Session.Load<Post?>(postId);
                if (post is { } p) {
                    await Html.RenderPartialAsync("~/Views/_Post.cshtml", p);
                }
            }
        </div>
    } else {
        <p>User Not Found</p>
    }
</div>
