@using Codr.Models;
@using Codr.Models.Posts;
@using Codr.Data;
@using System.Linq;
@model User
@{
    ViewData["Title"] = "Profile";
    using var session = new UserProvider(DocumentStoreHolder.Store.OpenSession());
    var LoggedIn = session.GetUser((string)ViewData["LoggedIn"]);

}
<script src="~/js/profile.js"></script>
<div class="content">
    @if (Model is { } u) {
        <div id="profile-sidebar">
            <h1>@u.FullName</h1>

        </div>
        <div id="profile-posts">
            <h1>Recent Posts</h1>
            @foreach (var postId in Enumerable.Reverse(u.Posts)) {
                var post = session.Session.Load<Post?>(postId);
                if (post is { } p) {
                    await Html.RenderPartialAsync("~/Views/_Post.cshtml", p);
                    <label class="content">Write a comment...</label>
                    <textarea name="comment" id="comment-box-@postId" draggable="false"></textarea>
                    <button type="submit" onclick="postComment('@postId')">Submit</button>
                    <div class="comment-container" id="comment-container-@postId">

                    </div>
                    <script async>loadComments('@post.Id')</script>
                }
            }
        </div>
    } else {
        <p>User Not Found</p>
    }
</div>
