<h4>Heading</h4>
<form class="post-component-form" name="heading">
    <label for="Content">Content</label>
    <input type="text" name="Content" />
    <br />
    <input type="submit" value="Submit" />
</form>