<h4>Text</h4>
<form class="post-component-form" name="text">
    <label for="Content">Content</label>
    <textarea name="Content"></textarea>
    <br />
    <input type="submit" value="Submit"/>
</form>